:root {
  --background: #182330;
  --text: rgba(255, 255, 255, 0.9);
  --secondary: rgba(255, 255, 255, 0.5);
  --line: rgba(255, 255, 255, 0.1);
  --button-hover: rgba(255, 255, 255, 0.05);
  --shadow: rgba(0, 0, 0, 0.2);
  --shadow-press: rgba(0, 0, 0, 0.6);
  --modal: #324153;
  --red: #ff4e84;
  --active: #41cf46;
  --soon: #f3d500;
  --meeting: #405063;
  --meeting-active: #516379;
  --meeting-active-text: var(--text);
  --highlight: rgba(255, 255, 255, 0.5);
  --dropdown: url('./material-arrow-drop-down-white.svg');
  --link: #9acfff;
  color-scheme: dark;

  --normal: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --narrow: 'Oswald', Impact, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #f1f4f5;
    --text: rgba(0, 0, 0, 0.9);
    --secondary: rgba(0, 0, 0, 0.5);
    --line: rgba(0, 0, 0, 0.1);
    --button-hover: rgba(0, 0, 0, 0.03);
    --shadow: rgba(0, 0, 0, 0.1);
    --shadow-press: rgba(0, 0, 0, 0.3);
    --modal: white;
    --red: #ff004e;
    --active: #09880d;
    --soon: #966f01;
    --meeting: #e1efff;
    --meeting-active: #5783ff;
    --meeting-active-text: rgba(255, 255, 255, 0.9);
    --highlight: rgba(0, 142, 255, 0.5);
    --dropdown: url('./material-arrow-drop-down-black.svg');
    --link: #2597ff;
    color-scheme: light;
  }
}

html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: var(--narrow);
  background-color: var(--background);
  color: var(--text);
  overflow: hidden;
}
button,
input,
select {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
}
button:not(:disabled),
select:not(:disabled),
input[type='checkbox']:not(:disabled) {
  cursor: pointer;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

input[type='checkbox'] {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 1.2em;
  height: 1.2em;
  margin: 0;
}
input[type='checkbox']:checked {
  border-color: transparent;
  background-color: rgba(0, 184, 255, 0.3);
  background-image: url('./material-check-white.svg');
  background-position: center;
  background-size: cover;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.buildings-wrapper {
  height: 0;
  flex: auto;
  display: flex;
  position: relative;
  overflow: hidden;
}
.notice {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  font-family: var(--normal);
}
.notice-visible {
  opacity: 1;
  visibility: visible;
}
.notice-text {
  display: block;
  max-width: 500px;
  transform: scale(0.9);
  transition: transform 0.5s;
}
.notice-visible .notice-text {
  transform: none;
}
.buildings {
  flex: auto;
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.scroll-area {
  background-image: url('./map.webp');
  background-repeat: no-repeat;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
.building-btn {
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 5px 10px;
  border-radius: 5px;
  background-image: linear-gradient(120deg, #00629b, #182b49);
  color: #ffcd00;
  box-shadow: 0 2px 5px var(--shadow);
  white-space: nowrap;
  transition: box-shadow 0.2s, visibility 0.2s, opacity 0.2s;
}
.building-btn:active {
  box-shadow: 0 0 0 var(--shadow-press);
}
.building-btn.selected {
  box-shadow: 0 0 0 3px var(--highlight);
}
.building-btn-hidden {
  visibility: hidden;
  opacity: 0;
}
.room-count {
  background-color: var(--modal);
  color: var(--secondary);
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 50px;
  padding: 2px 5px;
  box-shadow: 0 2px 5px var(--shadow);
  font-family: var(--normal);
}
.in-use {
  color: var(--text);
}

.info-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}
.title {
  font-weight: normal;
  margin: 0;
  font-size: 18px;
  margin-right: 20px;
}
.subtitle {
  color: var(--secondary);
}
.instructions {
  margin: 0;
  font-size: 14px;
  color: var(--secondary);
}
.link {
  color: var(--link);
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
@media (max-width: 530px) {
  .panel {
    height: 80px;
  }
  .title {
    font-size: 16px;
  }
  .info-panel {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 15px;
  }
}

.abbrev-heading {
  position: relative;
  line-height: 1;
}
.abbrev {
  white-space: nowrap;
  opacity: 0.15;
}
.colon {
  color: transparent;
  font-size: 1px;
  position: absolute;
  z-index: -1;
}
.long {
  position: absolute;
  bottom: 0.2em;
  left: 0.4em;
  right: 0.2em;
  font-size: 0.3em;
  font-family: var(--normal);
  font-weight: bold;
}

.date-time-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  background-color: var(--modal);
  z-index: 3;
  border-radius: 10px;
  padding: 10px 15px;
  transition: opacity 0.2s;
}
.date-time-button:disabled {
  opacity: 0;
}
.showing-schedule-wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.showing-schedule-text {
  font-size: 0.8em;
  opacity: 0.8;
  font-family: var(--normal);
}
.date-time {
  display: flex;
  gap: 10px;
}
.quarter-week {
  font-size: 0.8em;
  font-family: var(--normal);
}
.edit-icon {
  background-image: url('./material-edit-white.svg');
}

.date-time-panel {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: var(--modal);
  margin: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s, opacity 0.2s, visibility 0.2s;
}
.date-time-panel-hidden {
  transform: translate(20px);
  opacity: 0;
  visibility: hidden;
}
.date-time-panel-bottom-panel.date-time-panel-hidden {
  transform: translate(350px);
}
.calendar-scroll-area {
  overflow: auto;
  height: 0;
  flex: auto;
  /* Needed for offsetTop; see CalendarRow */
  position: relative;
  border-bottom: 1px solid var(--line);
}
.calendar-row {
  display: flex;
  align-items: center;
  height: 30px;
}
.calendar-header-row {
  position: sticky;
  top: 0;
  background-color: var(--modal);
  z-index: 5;
}
.calendar-deco-row {
  margin-bottom: -30px;
  height: 0;
  position: sticky;
  top: 30px;
}
.calendar-header-line {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: translateY(90px);
  border-bottom: 1px solid var(--line);
}
.calendar-week-num {
  width: 29px;
  flex: none;
  align-self: stretch;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-right: 1px solid transparent;
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.calendar-date-row .calendar-week-num {
  border-right-color: var(--line);
}
.calendar-header-row .calendar-week-num span {
  display: block;
  position: relative;
  top: 90px;
}
.calendar-item {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}
.calendar-day {
  cursor: pointer;
}
.calendar-day:focus-within {
  outline: 1px solid blue;
  border-radius: 50%;
}
.calendar-selected {
  background-color: red;
  border-radius: 50%;
}
.calendar-finals-day {
  color: pink;
}
.calendar-heading-row {
  position: sticky;
}
.calendar-quarter-heading-row {
  padding-top: 30px;
  top: 0;
  height: 60px;
}
.calendar-month-heading-row {
  top: 90px;
  background-color: var(--modal);
}
.calendar-heading-row:nth-child(2) {
  margin-top: 0;
}
.calendar-heading-row .calendar-week-num {
  margin-right: 0;
}
.calendar-heading {
  margin: 0;
  flex: auto;
  font-weight: normal;
  text-align: center;
}
.calendar-quarter-heading {
  font-size: 64px;
}
.calendar-month-heading {
  font-size: 1em;
  font-family: var(--normal);
}

.date-time-flex {
  display: flex;
  padding: 10px;
  gap: 10px;
}
.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--normal);
}
.date-input,
.time-input,
.today-btn {
  height: 40px;
  padding: 0 15px;
  border-radius: 10px;
}
.date-input,
.time-input {
  background-color: rgba(255, 255, 255, 0.1);
}
.today-btn {
  font-family: var(--normal);
}
.today-btn,
.icon-btn {
  background-color: rgba(0, 184, 255, 0.3);
}
.checkbox-label,
.date-input {
  flex: auto;
}
.time-input:disabled {
  opacity: 0.5;
}
.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 0;
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}
.close-date-btn {
  background-image: url('./material-done-white.svg');
}

.building-panel {
  position: fixed;
  left: 20px;
  right: 20px;
  bottom: 20px;
  margin: 0 auto;
  max-width: 820px;
  height: 420px;
  display: flex;
  flex-direction: column;
  background-color: var(--modal);
  border-radius: 15px;
  transition: transform 0.2s, opacity 0.2s, visibility 0.2s, right 0.2s;
  overflow: auto;
}
.building-panel-invisible {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
}
.right-panel-open {
  right: 340px;
}
.building-name,
.rooms,
.schedule {
  width: 100%;
  box-sizing: border-box;
}
.building-name {
  height: 160px;
  flex: none;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  transition: height 0.5s;
  background-image: linear-gradient(120deg, #00629b, #182b49);
  overflow: hidden;
}
.schedule-view {
  height: 48px;
}
.building-name .abbrev-heading {
  font-weight: normal;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 120px;
  margin: 20px;
  transition: transform 0.5s;
  transform-origin: bottom left;
}
.schedule-view .abbrev-heading {
  transform: translate(28px, 8px) scale(0.2);
}
.building-name .abbrev,
.building-name .long {
  transition: opacity 0.5s;
}
.building-name .abbrev {
  opacity: 0.3;
}
.schedule-view .abbrev {
  opacity: 1;
}
.schedule-view .long {
  opacity: 0;
}
.room-number {
  transition: opacity 0.5s;
}
.list-view .room-number {
  opacity: 0;
}
.building-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: opacity 0.5s;
}
.schedule-view .building-image {
  opacity: 0;
}
.building-image-loading {
  opacity: 0;
  transition: none;
}
.close,
.back {
  font-size: 0;
  padding: 12px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.close:hover,
.back:hover {
  background-color: var(--button-hover);
}
.close {
  margin-left: auto;
}
.back {
  transition: opacity 0.5s, margin-left 0.5s, visibility 0.5s;
}
.list-view .back {
  visibility: hidden;
  opacity: 0;
  margin-left: -48px;
}
.back-icon,
.close-icon {
  fill: currentColor;
  width: 24px;
}

.empty {
  flex: auto;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  font-family: var(--normal);
  text-align: center;
}
.empty p {
  max-width: 350px;
}

.rooms {
  padding: 0 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(14ch, 1fr));
}
.room {
  text-align: left;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--line);
  transition: box-shadow 0.2s;
}
.room:hover {
  box-shadow: 0 2px 5px var(--shadow);
}
.room:active {
  box-shadow: 0 0 0 var(--shadow-press);
}
.current-meeting {
  color: var(--secondary);
  font-size: 0.8em;
}
.active .current-meeting {
  color: var(--active);
}
.soon .current-meeting {
  color: var(--soon);
}
.inactive .current-meeting {
  font-family: var(--normal);
}

.schedule {
  display: flex;
  flex-direction: column;
}
.day-names,
.meetings-wrapper {
  display: flex;
  gap: 10px;
  padding: 0 10px;
}
.day-names-wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
}
.day-names {
  padding: 10px;
}
.day {
  flex: 1 0 0;
  position: relative;
}
.day-name {
  text-align: center;
}
.selected-day {
  background-color: var(--text);
  color: var(--modal);
  border-radius: 5px;
  box-shadow: 0 2px 5px var(--shadow);
}
.meetings-wrapper {
  flex: auto;
}
.meeting {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--meeting);
  position: absolute;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
.current {
  background-color: var(--meeting-active);
  color: var(--meeting-active-text);
}
.exam {
  /* TEMP */
  outline: 1px solid yellow;
}
.meeting-time {
  font-size: 0.5em;
  font-family: var(--normal);
}
@media (max-width: 660px) {
  .full-week .meeting-name {
    font-size: 0.55em;
  }
  .full-week .meeting-time {
    font-size: 0.4em;
  }
}
.gradient {
  display: flex;
  flex-direction: column;
  height: 20px;
  position: sticky;
}
.gradient-bg {
  position: absolute;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 100%;
}
.gradient-top {
  top: 0;
}
.gradient-bottom {
  bottom: 0;
}
.gradient-top::before,
.gradient-bottom::after {
  content: '';
  background-color: var(--modal);
  flex: auto;
}
.gradient-top::after,
.gradient-bottom::before {
  content: '';
  height: 20px;
}
.gradient-top::after {
  background-image: linear-gradient(var(--modal), transparent);
}
.gradient-bottom::before {
  background-image: linear-gradient(transparent, var(--modal));
}
.now {
  border-top: 1px solid var(--red);
  box-shadow: 0 0 5px var(--red);
  position: absolute;
  left: 0;
  right: 0;
}
.disclaimer-wrapper {
  position: sticky;
  bottom: 0;
}
.disclaimer {
  margin: 0;
  padding: 10px;
  color: var(--secondary);
  font-size: 12px;
}

.college-revelle {
  background-image: linear-gradient(120deg, #2045c5, #273b80);
  color: white;
}
.college-muir {
  background-image: linear-gradient(120deg, #24a53b, #095540);
  color: white;
}
.college-marshall {
  background-image: linear-gradient(120deg, #e90a19, #b01e28);
  color: white;
}
.college-warren {
  background-image: linear-gradient(120deg, #c3165b, #802449);
  color: white;
}
.college-erc {
  background-image: linear-gradient(120deg, #20a2f1, #5a8ab5);
  color: white;
}
.college-sixth {
  background-image: linear-gradient(120deg, #11b0bf, #068a96);
  color: white;
}
.college-seventh {
  background-image: linear-gradient(120deg, #e9b418, #d09228);
  color: white;
}
.college-pepperCanyon {
  background-image: linear-gradient(120deg, #068a96, #08484e);
  color: white;
}
.college-med,
.college-health {
  background-image: linear-gradient(120deg, #f0f5f6, #d6e8f0);
  color: #ff004e;
}
