doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title uxdy
    meta(name="description" content="schedule notifer for my classes at ucsd")

    //- link(rel="stylesheet" type="text/css" href="/sheep3.css")
    //- script(src="/sheep3.js" charset="utf-8")

    link(rel="stylesheet" href="./styles.css")
  body
    div#days

    h2 About
    p.
      thsi is open source on #[a.link(href="https://github.com/SheepTester/uxdy") Github]

    script(src="./jquery-3.6.0.slim.min.js")
    script(src="./index.js")
