html,
body
  height: 100%

body
  margin: 0
  font-family: 'Comic Sans MS', 'Comic Sans', cursive
  color: red

button,
input,
select,
textarea
  border: none
  background: none
  color: inherit
  font: inherit

button:not(:disabled)
  cursor: pointer

a
  color: inherit
  text-decoration: none

.link:hover
  text-decoration: underline

.hidden
  display: none
